### Data Collection

In [1]:
from functions import *

### 1. Import queries

In [7]:
import pandas as pd

# read the excel file
excel_data = pd.read_excel('PIMS Sample Prompts.xlsx')

queries = []
for index, row in excel_data.iterrows():
    # Process each row
    queries.append(row['Prompt'])
    
queries = queries[:4]
queries = pd.DataFrame(queries, columns = ['Query'])
print(queries)

                                               Query
0            Vessel caught misreporting catch amount
1              Vessel caught falsifying fishing logs
2         Vessel caught with incorrect catch reports
3  Vessel caught underreporting catch in North At...

### 2. Data frame initialization

In [8]:
numbers_and_dates = pd.DataFrame(columns = [
    'Query', 'Engine',
    'results', 'dates', 'days'
])

search_results_articles = pd.DataFrame(columns = ['Query', 'Engine','Title', 'Dates', 'Link'])
print(numbers_and_dates)

Empty DataFrame
Columns: [Query, Engine, results, dates, days]
Index: []

### 3. Google, Bing news search API

In [9]:
from serpapi import GoogleSearch
# API Scrap functions

def google_news_search(query, location = 'Canada'):
    params = {
        "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
        "q": query,
        "tbm": "nws",
        "location": location,
        "num": "30"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    news_results = results["news_results"]
    return news_results

def bing_news_search(query, location = "CA"):
    params = {
      "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
      "engine": "bing_news",
      "q": query,
      "cc": location,
      "count": "30"
    }
    search = GoogleSearch(params)
    results = search.get_dict()

    news_results = results["organic_results"]
    return news_results

    
def duckduckgo_news_search(query, location = "ca-en"):
    params = {
        "engine": "duckduckgo",
        "q": query,
        "kl": location,
        "tbm": "nws",
        #"api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    print(results)
#    news_results = results["news_results"]
    
    return results


#duckduckgo_news_search("vessel underreport")

### 4. Search and scrap the results (title, dates, link)

In [5]:
from datetime import datetime
def convert_day(text):
    if None:
        return None
    
    pattern1 = r'^\d{4}-\d{2}-\d{2}$'
    pattern2 = r'\b\d+[hdwmy]'
    pattern3 = r'^\d{2}/\d{2}/\d{4}$'
    pattern4 = r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s+\d{1,2},\s+\d{4}'
    pattern5 = r'\b\d+(?:hrs|day|mon|wks|yrs)\b'

    if re.match(pattern1, text):
        date = datetime.strptime(text, "%Y-%M-%d").date()
        today = datetime.combine(date.today(), datetime.min.time())
        days = str(today - date).days
        return int(days[0])
    pattern2match = re.findall(pattern2, text)
    pattern5match = re.findall(pattern5,text)
    if pattern2match:
        text = pattern2match[0]
        if text[len(text)-1] == 'h':
            return 1
        if text[len(text)-1] == 'd':
            return int(text[:len(text)-1])
        if text[len(text)-1] == 'w':
            return int(text[:len(text)-1])*7
        if text[len(text)-1] == 'm':
            return int(text[:len(text)-1])*30
        if text[len(text)-1] == 'y':
            return int(text[:len(text)-1])*365    
        
    pattern5match = re.findall(pattern5,text)
    if pattern5match:
        text = pattern5match[0]
        if text[len(text)-1] == 'hrs':
            return 1
        if text[len(text)-1] == 'day':
            return int(text[:len(text)-1])
        if text[len(text)-1] == 'wks':
            return int(text[:len(text)-1])*7
        if text[len(text)-1] == 'mon':
            return int(text[:len(text)-1])*30
        if text[len(text)-1] == 'yrs':
            return int(text[:len(text)-1])*365   
        
    pattern3match = re.match(pattern3, text)
    if pattern3match:
        date_format = "%m/%d/%Y"
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = date.today()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)
        except ValueError:
            # Handle invalid date format or other errors
            return None
        
    pattern4match = re.match(pattern4, text)
    if pattern4match:
        date_format = '%b %d, %Y'
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = datetime.now().date()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)

        except ValueError:
            # Handle invalid date format or other errors
            return None
    txtlist = text.split()
    if len(txtlist) <2:
#        print('txtlist is too short', len(txtlist), text)
        return None
    if txtlist[1] in ['hour', 'hours']:
        return 1
    if txtlist[1] in ['day', 'days']:
        return int(txtlist[0])
    if txtlist[1] in ['week', 'weeks']:
        return int(txtlist[0])*7
    if txtlist[1] in ['month', 'months']:
        return int(txtlist[0])*30
    if txtlist[1] in ['year', 'years']:
        return int(txtlist[0])*365
    return None

convert_day('12 months ago')

360

In [6]:
search_functions = [
    google_news_search,
    #scrape_yahoo_news
    #yahoo_news_search, 
    bing_news_search,
    #duckduckgo_news_search
]
search_engine = ['Google', 
                 #'Yahoo', 
                 'Bing',
                 #'DuckDuckGo'
                ]

#Google
#search_results = dict()
#search_results = [{'position' : 1, 'title': 'title', 'date': '20240621', 'link': 'http://google.com'}]
#queries = ['query1', 'query 2']
for indq, query in queries.iterrows():
    for i in range(len(search_functions)):
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], search_engine[i]]
        
        # Do the search and only get top 20 
        search_results = search_functions[i](query['Query'])
        search_results = search_results[:min(20, len(search_results))]
        
        # Append  the number of articles to the num_dat_row
        num_dat_row.append(len(search_results))
        dates = []
        days = []
    
        for article in search_results:
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                search_engine[i],
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3].strip())
            days.append(convert_day(search_data[3].strip()))
        # Dates and days information for the num_dat_rowx
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row

### Yahoo

In [55]:
###### For yahoo..
# To count the number of articles
def count_result(search_results):
    count = 0
    for index, result in enumerate(search_results, start=1):
        count += 1
    return count

In [56]:
######### Yahoo 
for indq, query in queries.iterrows():
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], 'Yahoo']
        
        # Do the search and only get top 20 
        search_results = scrape_yahoo_news(query['Query'])
        
        # Append  the number of articles to the num_dat_row
        count = count_result(search_results)
        print(query['Query'],count)
        num_dat_row.append(count)
        dates = []
        days = []
    
        for index, article in enumerate(search_results, start=1):
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                'Yahoo',
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3].strip())
            days.append(convert_day(search_data[3].strip()))
        # Dates and days information for the num_dat_row
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row


    
#print(search_results_articles)

Vessel caught misreporting catch amount 0
Vessel caught falsifying fishing logs 0
Vessel caught with incorrect catch reports 6
Vessel caught underreporting catch in North Atlantic 0
Vessel caught misreporting haddock catch 0
Vessel caught with inaccurate fish size records 0
Vessel caught underreporting catch near protected area 0
Vessel caught misreporting tuna catch quantities 0
Vessel caught with unrecorded fish species 0
Vessel caught bypassing quota system 0

In [25]:
print(numbers_and_dates.head(20))
#search_results_articles.head()

                                                Query  Engine  results  \
0             Vessel caught misreporting catch amount  Google       20
1             Vessel caught misreporting catch amount    Bing        3
2               Vessel caught falsifying fishing logs  Google       20
3               Vessel caught falsifying fishing logs    Bing       14
4          Vessel caught with incorrect catch reports  Google       20
5          Vessel caught with incorrect catch reports    Bing       14
6   Vessel caught underreporting catch in North At...  Google       12
7   Vessel caught underreporting catch in North At...    Bing       14
8            Vessel caught misreporting haddock catch  Google        2
9            Vessel caught misreporting haddock catch    Bing       14
10    Vessel caught with inaccurate fish size records  Google       20
11    Vessel caught with inaccurate fish size records    Bing       14
12  Vessel caught underreporting catch near protec...  Google       20
13  Vessel caught underreporting catch near protec...    Bing       14
14   Vessel caught misreporting tuna catch quantities  Google       12
15   Vessel caught misreporting tuna catch quantities    Bing       14
16         Vessel caught with unrecorded fish species  Google       20
17         Vessel caught with unrecorded fish species    Bing       14
18               Vessel caught bypassing quota system  Google        5
19               Vessel caught bypassing quota system    Bing       14

                                                dates  \
0   [1 week ago, 1 month ago, 1 month ago, Oct 31,...
1                                      [10d, 1d, 10d]
2   [Mar 20, 2024, Oct 4, 2023, Mar 15, 2024, Feb ...
3   [26d, 3d, 3d, 29d, 5d, 4d, 7mon, 3mon, 11d, 7m...
4   [Mar 23, 2024, Oct 9, 2023, Jan 2, 2024, 2 wee...
5   [9d, 4d, 4d, 2d, 4d, 3d, 10d, 4d, 11d, 4d, 9d,...
6   [1 week ago, Mar 15, 2024, May 24, 2023, Sep 2...
7   [17d, 11d, 7d, 24d, 3d, 1mon, 4d, 4d, 1mon, 10...
8                         [Oct 9, 2020, Sep 28, 2022]
9   [3d, 3y, 4y, 4d, 3d, 7mon, 4mon, 1mon, 11d, 27...
10  [2 weeks ago, Oct 12, 2023, Aug 23, 2023, Feb ...
11  [4d, 2y, 26d, 5d, 5mon, 20d, 2y, 12d, 3y, 5y, ...
12  [1 week ago, Mar 1, 2024, Apr 2, 2024, Aug 16,...
13  [6d, 4d, 3d, 18d, 3d, 28d, 4d, 1y, 28d, 6d, 1y...
14  [Oct 11, 2021, Jan 3, 2019, Jun 14, 2021, Sep ...
15  [1y, 6y, 8d, 19d, 21d, 2y, 11d, 4mon, 1mon, 18...
16  [1 month ago, Apr 10, 2024, 3 weeks ago, 1 mon...
17  [2y, 22d, 6d, 14d, 10d, 3d, 1mon, 18d, 1mon, 1...
18  [Jul 17, 2023, Jun 13, 2010, May 9, 2016, Nov ...
19  [10mon, 2y, 1y, 12d, 3d, 16d, 7d, 3y, 21d, 2y,...

                                                 days
0   [7, 30, 30, 249, 346, 103, 254, 297, 901, 999,...
1                                         [10, 1, 10]
2   [108, 276, 113, 135, 283, 310, 309, 222, 317, ...
3   [26, 3, 3, 29, 5, 4, 210, 90, 11, 210, 5, 30, ...
4   [105, 271, 186, 14, 242, 103, 256, 250, 326, 2...
5        [9, 4, 4, 2, 4, 3, 10, 4, 11, 4, 9, 3, 4, 4]
6   [7, 113, 409, 649, 2328, 3090, 3806, 478, 2496...
7   [17, 11, 7, 24, 3, 30, 4, 4, 30, 300, 4, 30, 3...
8                                         [1366, 647]
9   [3, 1095, 1460, 4, 3, 210, 120, 30, 11, 27, 26...
10  [14, 268, 318, 519, 999, 884, 568, 2545, 393, ...
11  [4, 730, 26, 5, 150, 20, 730, 12, 1095, 1825, ...
12  [7, 127, 95, 325, 84, 3657, 613, 3432, 3966, 1...
13  [6, 4, 3, 18, 3, 28, 4, 365, 28, 6, 365, 6, 26...
14  [999, 2011, 1118, 2839, 884, 4987, 1351, 4495,...
15  [365, 2190, 8, 19, 21, 730, 11, 120, 30, 18, 1...
16  [30, 87, 21, 30, 264, 348, 243, 395, 381, 218,...
17  [730, 22, 6, 14, 10, 3, 30, 18, 30, 330, 330, ...
18                      [355, 5137, 2980, 1691, 2970]
19  [300, 730, 365, 12, 3, 16, 7, 1095, 21, 730, 2...

In [10]:
print(numbers_and_dates.head(20))

Empty DataFrame
Columns: [Query, Engine, results, dates, days]
Index: []

## Export the data (excel file)

In [59]:
import pandas as pd

# Example DataFrame
####### Have to have numberes_and_dates as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
numbers_and_dates.to_excel('numbers_and_dates.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx

In [60]:
import pandas as pd

######## Have to have search_results_articles as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
search_results_articles.to_excel('search_results_articles.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx