### Data Collection

In [42]:
from functions import *

### 1. Import queries

In [43]:
import pandas as pd

# read the excel file
excel_data = pd.read_excel('PIMS Sample Prompts.xlsx')

queries = []
for index, row in excel_data.iterrows():
    # Process each row
    queries.append(row['Prompt'])
    
queries = queries[:10]
queries = pd.DataFrame(queries, columns = ['Query'])
print(queries)

                                               Query
0            Vessel caught misreporting catch amount
1              Vessel caught falsifying fishing logs
2         Vessel caught with incorrect catch reports
3  Vessel caught underreporting catch in North At...
4           Vessel caught misreporting haddock catch
5    Vessel caught with inaccurate fish size records
6  Vessel caught underreporting catch near protec...
7   Vessel caught misreporting tuna catch quantities
8         Vessel caught with unrecorded fish species
9               Vessel caught bypassing quota system

### 2. Data frame initialization

In [44]:
numbers_and_dates = pd.DataFrame(columns = [
    'Query', 'Engine',
    'results', 'dates', 'days'
])

search_results_articles = pd.DataFrame(columns = ['Query', 'Engine','Title', 'Dates', 'Link'])
print(numbers_and_dates)

Empty DataFrame
Columns: [Query, Engine, results, dates, days]
Index: []

### 3. Google, Yahoo, Bing news search API

In [45]:
from serpapi import GoogleSearch
# API Scrap functions

def google_news_search(query, location = 'Canada'):
    params = {
        "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
        "q": query,
        "tbm": "nws",
        "location": location,
        "num": "20"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    news_results = results["news_results"]
    return news_results

def bing_news_search(query, location = "CA"):
    params = {
      "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
      "engine": "bing_news",
      "q": query,
      "cc": location,
      "count": "20"
    }
    search = GoogleSearch(params)
    results = search.get_dict()

    news_results = results["organic_results"]
    return news_results

    
def duckduckgo_news_search(query, location = "ca-en"):
    params = {
        "engine": "duckduckgo",
        "q": query,
        "kl": location,
        "tbm": "nws",
        #"api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    print(results)
#    news_results = results["news_results"]
    
    return results


#duckduckgo_news_search("vessel underreport")

### 4. Search and scrap the results (title, dates, link)

In [53]:
from datetime import datetime
def convert_day(text):
    if None:
        return None
    
    pattern1 = r'^\d{4}-\d{2}-\d{2}$'
    pattern2 = r'\b\d+[hdwmy]'
    pattern3 = r'^\d{2}/\d{2}/\d{4}$'
    pattern4 = r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s+\d{1,2},\s+\d{4}'
    pattern5 = r'\b\d+(?:hrs|day|mon|wks|yrs)\b'

    if re.match(pattern1, text):
        date = datetime.strptime(text, "%Y-%M-%d").date()
        today = datetime.combine(date.today(), datetime.min.time())
        days = str(today - date).days
        return int(days[0])
    pattern2match = re.findall(pattern2, text)
    pattern5match = re.findall(pattern5,text)
    if pattern2match:
        text = pattern2match[0]
        if text[len(text)-1] == 'h':
            return 1
        if text[len(text)-1] == 'd':
            return int(text[:len(text)-1])
        if text[len(text)-1] == 'w':
            return int(text[:len(text)-1])*7
        if text[len(text)-1] == 'm':
            return int(text[:len(text)-1])*30
        if text[len(text)-1] == 'y':
            return int(text[:len(text)-1])*365    
        
    pattern5match = re.findall(pattern5,text)
    if pattern5match:
        text = pattern5match[0]
        if text[len(text)-1] == 'hrs':
            return 1
        if text[len(text)-1] == 'day':
            return int(text[:len(text)-1])
        if text[len(text)-1] == 'wks':
            return int(text[:len(text)-1])*7
        if text[len(text)-1] == 'mon':
            return int(text[:len(text)-1])*30
        if text[len(text)-1] == 'yrs':
            return int(text[:len(text)-1])*365   
        
    pattern3match = re.match(pattern3, text)
    if pattern3match:
        date_format = "%m/%d/%Y"
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = date.today()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)
        except ValueError:
            # Handle invalid date format or other errors
            return None
        
    pattern4match = re.match(pattern4, text)
    if pattern4match:
        date_format = '%b %d, %Y'
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = datetime.now().date()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)

        except ValueError:
            # Handle invalid date format or other errors
            return None
    txtlist = text.split()
    if len(txtlist) <2:
#        print('txtlist is too short', len(txtlist), text)
        return None
    if txtlist[1] in ['hour', 'hours']:
        return 1
    if txtlist[1] in ['day', 'days']:
        return int(txtlist[0])
    if txtlist[1] in ['week', 'weeks']:
        return int(txtlist[0])*7
    if txtlist[1] in ['month', 'months']:
        return int(txtlist[0])*30
    if txtlist[1] in ['year', 'years']:
        return int(txtlist[0])*365
    return None

convert_day('12 months ago')

360

In [54]:
search_functions = [
    google_news_search,
    #scrape_yahoo_news
    #yahoo_news_search, 
    bing_news_search,
    #duckduckgo_news_search
]
search_engine = ['Google', 
                 #'Yahoo', 
                 'Bing',
                 #'DuckDuckGo'
                ]

#Google
#search_results = dict()
#search_results = [{'position' : 1, 'title': 'title', 'date': '20240621', 'link': 'http://google.com'}]
#queries = ['query1', 'query 2']
for indq, query in queries.iterrows():
    for i in range(len(search_functions)):
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], search_engine[i]]
        
        # Do the search and only get top 20 
        search_results = search_functions[i](query['Query'])
        search_results = search_results[:min(20, len(search_results))]
        
        # Append  the number of articles to the num_dat_row
        num_dat_row.append(len(search_results))
        dates = []
        days = []
    
        for article in search_results:
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                search_engine[i],
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3].strip())
            days.append(convert_day(search_data[3].strip()))
        # Dates and days information for the num_dat_row
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row

### Yahoo

In [55]:
###### For yahoo..
# To count the number of articles
def count_result(search_results):
    count = 0
    for index, result in enumerate(search_results, start=1):
        count += 1
    return count

In [56]:
######### Yahoo 
for indq, query in queries.iterrows():
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], 'Yahoo']
        
        # Do the search and only get top 20 
        search_results = scrape_yahoo_news(query['Query'])
        
        # Append  the number of articles to the num_dat_row
        count = count_result(search_results)
        print(query['Query'],count)
        num_dat_row.append(count)
        dates = []
        days = []
    
        for index, article in enumerate(search_results, start=1):
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                'Yahoo',
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3].strip())
            days.append(convert_day(search_data[3].strip()))
        # Dates and days information for the num_dat_row
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row


    
#print(search_results_articles)

Vessel caught misreporting catch amount 0
Vessel caught falsifying fishing logs 0
Vessel caught with incorrect catch reports 6
Vessel caught underreporting catch in North Atlantic 0
Vessel caught misreporting haddock catch 0
Vessel caught with inaccurate fish size records 0
Vessel caught underreporting catch near protected area 0
Vessel caught misreporting tuna catch quantities 0
Vessel caught with unrecorded fish species 0
Vessel caught bypassing quota system 0

In [57]:
numbers_and_dates.head(20)
search_results_articles.head(20)

,Query,Engine,Title,Dates,Link
0,Vessel caught misreporting catch amount,Google,Sea Shepherd Global,2 weeks ago,https://www.seashepherdglobal.org/latest-news/...
1,Vessel caught misreporting catch amount,Google,Move the IUU Fight Up the Food Chain | Proceed...,"Oct 31, 2023",https://www.usni.org/magazines/proceedings/202...
2,Vessel caught misreporting catch amount,Google,New rules tighten controls on EU…,1 month ago,https://ejfoundation.org/news-media/new-rules-...
3,Vessel caught misreporting catch amount,Google,Surprise! Media is misreporting the source of ...,"Jul 26, 2023",https://electrek.co/2023/07/26/surprise-media-...
4,Vessel caught misreporting catch amount,Google,Sea Shepherd Global,"Mar 25, 2024",https://www.seashepherdglobal.org/latest-news/...
5,Vessel caught misreporting catch amount,Google,"N.S. boat captain, 2 companies fined $125K for...","Sep 13, 2023",https://www.cbc.ca/news/canada/nova-scotia/n-s...
6,Vessel caught misreporting catch amount,Google,Caught out: Cameras on boats reveal massive un...,"Apr 13, 2024",https://www.thepost.co.nz/politics/350242260/c...
7,Vessel caught misreporting catch amount,Google,"NOAA, Coast Guard: More regs needed in wake of...","Jan 17, 2022",https://www.heraldnews.com/story/news/2019/12/...
8,Vessel caught misreporting catch amount,Google,Fish and Overfishing,"Oct 11, 2021",https://ourworldindata.org/fish-and-overfishing
9,Vessel caught misreporting catch amount,Google,"Alaska fisherman given USD 1 million fine, jai...","Aug 9, 2021",https://www.seafoodsource.com/news/business-fi...
10,Vessel caught misreporting catch amount,Google,Electronic monitoring long-awaited boon for Ca...,"Oct 9, 2020",https://www.capecodtimes.com/story/news/2020/1...
11,Vessel caught misreporting catch amount,Google,The Tuna Transparency Pledge,"Jun 29, 2023",https://www.nature.org/en-us/what-we-do/our-pr...
12,Vessel caught misreporting catch amount,Google,Fish crimes in the global oceans,"Mar 23, 2022",https://www.science.org/doi/10.1126/sciadv.abj...
13,Vessel caught misreporting catch amount,Google,Catch Me If You Can: The Global Pursuit of a F...,"Mar 3, 2020",https://hakaimagazine.com/features/catch-me-if...
14,Vessel caught misreporting catch amount,Google,Report Finds Transshipments in Western and Cen...,"Sep 12, 2019",https://www.pewtrusts.org/en/research-and-anal...
15,Vessel caught misreporting catch amount,Google,Plenty more fish in the sea? How the insurance...,"Jan 30, 2022",https://www.axa.com/en/insights/plenty-more-fi...
16,Vessel caught misreporting catch amount,Google,Reporting the accuracy of small-scale fishing ...,"Jul 26, 2022",https://www.frontiersin.org/articles/10.3389/f...
17,Vessel caught misreporting catch amount,Google,Inaccurate EU catch reporting…,"Feb 3, 2022",https://ejfoundation.org/news-media/allowing-i...
18,Vessel caught misreporting catch amount,Google,Electronic Monitoring in Large-Scale Fisheries...,"Jan 3, 2019",https://www.nature.org/en-us/what-we-do/our-pr...
19,Vessel caught misreporting catch amount,Google,Transforming the Last Tuna Stronghold,"Oct 8, 2018",https://www.nature.org/en-us/about-us/where-we...

In [58]:
print(numbers_and_dates.head(20))

                                                Query  Engine  results  \
0             Vessel caught misreporting catch amount  Google       20
1             Vessel caught misreporting catch amount    Bing       14
2               Vessel caught falsifying fishing logs  Google       20
3               Vessel caught falsifying fishing logs    Bing       14
4          Vessel caught with incorrect catch reports  Google       20
5          Vessel caught with incorrect catch reports    Bing       12
6   Vessel caught underreporting catch in North At...  Google       14
7   Vessel caught underreporting catch in North At...    Bing       11
8            Vessel caught misreporting haddock catch  Google        2
9            Vessel caught misreporting haddock catch    Bing       14
10    Vessel caught with inaccurate fish size records  Google       20
11    Vessel caught with inaccurate fish size records    Bing       14
12  Vessel caught underreporting catch near protec...  Google       20
13  Vessel caught underreporting catch near protec...    Bing       14
14   Vessel caught misreporting tuna catch quantities  Google       13
15   Vessel caught misreporting tuna catch quantities    Bing       14
16         Vessel caught with unrecorded fish species  Google       20
17         Vessel caught with unrecorded fish species    Bing       14
18               Vessel caught bypassing quota system  Google        5
19               Vessel caught bypassing quota system    Bing       14

                                                dates  \
0   [2 weeks ago, Oct 31, 2023, 1 month ago, Jul 2...
1   [13d, 12d, 12d, 13d, 8d, 12d, 8d, 12d, 13d, 8d...
2   [Mar 20, 2024, Oct 4, 2023, Feb 22, 2024, Sep ...
3   [18d, 12d, 2d, 24d, 2mon, 3d, 1mon, 15d, 1mon,...
4   [3 days ago, Mar 23, 2024, Oct 9, 2023, Jan 2,...
5   [2d, 2d, 12d, 3d, 5d, 8d, 3d, 12d, 12d, 12d, 1...
6   [May 24, 2023, Sep 26, 2022, Jan 19, 2016, May...
7   [8h, 1mon, 3d, 12d, 9d, 8d, 22d, 15d, 3d, 12d,...
8                         [Oct 9, 2020, Sep 28, 2022]
9   [1mon, 3d, 23d, 4mon, 2mon, 4y, 7mon, 15d, 14y...
10  [3 days ago, Aug 23, 2023, Nov 6, 2023, Feb 3,...
11  [6y, 2y, 4d, 3d, 14d, 1y, 3y, 3d, 2y, 1mon, 4m...
12  [Mar 1, 2024, Apr 2, 2024, 1 month ago, Apr 13...
13  [4d, 1mon, 19d, 15d, 1mon, 2mon, 23d, 17d, 12d...
14  [Oct 11, 2021, Jan 3, 2019, Jun 14, 2021, Feb ...
15  [2mon, 1y, 6d, 4d, 6y, 3d, 2y, 3d, 2y, 2y, 7d,...
16  [1 week ago, Jul 24, 2023, Nov 6, 2023, Apr 10...
17  [2y, 2y, 2y, 3d, 3d, 12d, 12d, 27d, 1mon, 15d,...
18  [2 weeks ago, Jul 17, 2023, May 9, 2016, Jun 1...
19  [2y, 2d, 2y, 8d, 6d, 15d, 12d, 9d, 7d, 1d, 15d...

                                                 days
0   [14, 234, 30, 331, 88, 282, 69, 886, 984, 1047...
1   [13, 12, 12, 13, 8, 12, 8, 12, 13, 8, 12, 12, ...
2   [93, 261, 120, 268, 7, 295, 192, 207, 294, 309...
3   [18, 12, 2, 24, None, 3, None, 15, None, None,...
4   [3, 90, 256, 171, 227, 241, 331, 351, 288, 288...
5          [2, 2, 12, 3, 5, 8, 3, 12, 12, 12, 12, 12]
6   [394, 634, 3076, 408, 3075, 3791, 463, 2481, 1...
7        [None, None, 3, 12, 9, 8, 22, 15, 3, 12, 12]
8                                         [1351, 632]
9   [None, 3, 23, None, None, 120, None, 15, 420, ...
10  [3, 303, 228, 504, 984, 413, 441, 4412, 1138, ...
11  [180, 60, 4, 3, 14, 30, 90, 3, 60, None, None,...
12  [112, 80, 30, 69, 3642, 598, 3417, 1032, 3951,...
13  [4, None, 19, 15, None, None, 23, 17, 12, 15, ...
14  [984, 1996, 1103, 869, 4972, 2698, 1336, 4480,...
15  [None, 30, 6, 4, 180, 3, 60, 3, 60, 60, 7, 6, ...
16  [7, 333, 228, 72, 380, 366, 203, 1485, 253, 10...
17  [60, 60, 60, 3, 3, 12, 12, 27, None, 15, 8, 6,...
18                        [14, 340, 2965, 5122, 1676]
19  [60, 2, 60, 8, 6, 15, 12, 9, 7, 1, 15, 23, 12, 3]

## Export the data (excel file)

In [59]:
import pandas as pd

# Example DataFrame
####### Have to have numberes_and_dates as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
numbers_and_dates.to_excel('numbers_and_dates.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx

In [60]:
import pandas as pd

######## Have to have search_results_articles as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
search_results_articles.to_excel('search_results_articles.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx