### Data Collection

In [205]:
from functions import *

### 1. Import queries

In [181]:
import pandas as pd

# read the excel file
excel_data = pd.read_excel('PIMS Sample Prompts.xlsx')

queries = []
for index, row in excel_data.iterrows():
    # Process each row
    queries.append(row['Prompt'])
    
queries = queries[:10]
queries = pd.DataFrame(queries, columns = ['Query'])
print(queries)

                                               Query
0            Vessel caught misreporting catch amount
1              Vessel caught falsifying fishing logs
2         Vessel caught with incorrect catch reports
3  Vessel caught underreporting catch in North At...
4           Vessel caught misreporting haddock catch
5    Vessel caught with inaccurate fish size records
6  Vessel caught underreporting catch near protec...
7   Vessel caught misreporting tuna catch quantities
8         Vessel caught with unrecorded fish species
9               Vessel caught bypassing quota system

Vessel caught misreporting catch amount
Vessel caught falsifying fishing logs
Vessel caught with incorrect catch reports
Vessel caught underreporting catch in North Atlantic
Vessel caught misreporting haddock catch
Vessel caught with inaccurate fish size records
Vessel caught underreporting catch near protected area
Vessel caught misreporting tuna catch quantities
Vessel caught with unrecorded fish species
Vessel caught bypassing quota system

### 2. Data frame initialization

In [173]:
numbers_and_dates = pd.DataFrame(columns = [
    'Query', 'Engine',
    'results', 'dates', 'days'
])

search_results_articles = pd.DataFrame(columns = ['Query', 'Engine','Title', 'Dates', 'Link'])
print(numbers_and_dates)

Empty DataFrame
Columns: [Query, Engine, results, dates, days]
Index: []

### 3. Google, Yahoo, Bing news search API

In [174]:
from serpapi import GoogleSearch
# API Scrap functions

def google_news_search(query, location = 'Canada'):
    params = {
        "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
        "q": query,
        "tbm": "nws",
        "location": location,
        "num": "20"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    news_results = results["news_results"]
    return news_results

def bing_news_search(query, location = "CA"):
    params = {
      "api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1",
      "engine": "bing_news",
      "q": query,
      "cc": location,
      "count": "20"
    }
    search = GoogleSearch(params)
    results = search.get_dict()

    news_results = results["organic_results"]
    return news_results

    
def duckduckgo_news_search(query, location = "ca-en"):
    params = {
        "engine": "duckduckgo",
        "q": query,
        "kl": location,
        "tbm": "nws",
        #"api_key": "7020efc655aafd1998bfad82b8f96fee27be3cdb26c1bb67909ba7042c56ebd1"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    print(results)
#    news_results = results["news_results"]
    
    return results


#duckduckgo_news_search("vessel underreport")

### 4. Search and scrap the results (title, dates, link)

In [175]:
from datetime import datetime
def convert_day(text):
    if None:
        return None
    pattern1 = r'^\d{4}-\d{2}-\d{2}$'
    pattern2 = r'\b\d+[dwmy]\b'
    pattern3 = r'^\d{2}/\d{2}/\d{4}$'
    pattern4 = r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s+\d{1,2},\s+\d{4}'
    
    if re.match(pattern1, text):
        date = datetime.strptime(text, "%Y-%M-%d").date()
        today = datetime.combine(date.today(), datetime.min.time())
        days = str(today - date).days
        return int(days[0])
    pattern2match = re.findall(pattern2, text)
    if pattern2match:
        text = pattern2match[0]
        if text[len(text)-1] == 'd':
            return int(text[:len(text)-1])
        if text[len(text)-1] == 'w':
            return int(text[:len(text)-1])*7
        if text[len(text)-1] == 'm' or 'n':
            return int(text[:len(text)-1])*30
        if text[len(text)-1] == 'y':
            return int(text[:len(text)-1])*365        

    pattern3match = re.match(pattern3, text)
    if pattern3match:
        date_format = "%m/%d/%Y"
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = date.today()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)
        except ValueError:
            # Handle invalid date format or other errors
            return None
        
    pattern4match = re.match(pattern4, text)
    if pattern4match:
        date_format = '%b %d, %Y'
        try:
            # Parse the input date string into a datetime object
            given_date = datetime.strptime(text, date_format).date()
            # Get today's date
            today = datetime.now().date()
            # Calculate the difference in days
            days_difference = (today - given_date).days
            return int(days_difference)

        except ValueError:
            # Handle invalid date format or other errors
            return None
    txtlist = text.split()
    if len(txtlist) <2:
        return None
    if txtlist[1] in ['hour', 'hours']:
        return 1
    if txtlist[1] in ['day', 'days']:
        return int(txtlist[0])
    if txtlist[1] in ['week', 'weeks']:
        return int(txtlist[0])*7
    if txtlist[1] in ['month', 'months']:
        return int(txtlist[0])*30
    if txtlist[1] in ['year', 'years']:
        return int(txtlist[0])*365
    return None

In [176]:
search_functions = [
    google_news_search,
    #scrape_yahoo_news
    #yahoo_news_search, 
    bing_news_search,
    #duckduckgo_news_search
]
search_engine = ['Google', 
                 #'Yahoo', 
                 'Bing',
                 #'DuckDuckGo'
                ]

#Google
#search_results = dict()
#search_results = [{'position' : 1, 'title': 'title', 'date': '20240621', 'link': 'http://google.com'}]
#queries = ['query1', 'query 2']
for indq, query in queries.iterrows():
    for i in range(len(search_functions)):
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], search_engine[i]]
        
        # Do the search and only get top 20 
        search_results = search_functions[i](query)
        search_results = search_results[:min(20, len(search_results))]
        
        # Append  the number of articles to the num_dat_row
        num_dat_row.append(len(search_results))
        dates = []
        days = []
    
        for article in search_results:
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                search_engine[i],
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3])
            days.append(convert_day(search_data[3]))
        # Dates and days information for the num_dat_row
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row

### Yahoo

In [206]:
###### For yahoo..
# To count the number of articles
def count_result(search_results):
    count = 0
    for index, result in enumerate(search_results, start=1):
        count += 1
    return count

In [207]:
######### Yahoo 
for indq, query in queries.iterrows():
        # Initialize numbers and dates data row with query and search engine
        num_dat_row = [query['Query'], 'Yahoo']
        
        # Do the search and only get top 20 
        search_results = scrape_yahoo_news(query)
        
        # Append  the number of articles to the num_dat_row
        count = count_result(search_results)
        print(query['Query'],count)
        num_dat_row.append(count)
        dates = []
        days = []
    
        for index, article in enumerate(search_results, start=1):
            # search_data is a new data for the data frame search_results_articles
            # 'Engine', 'Position', 'Title', 'Dates', 'Link', 'Content'
            search_data = [
                query['Query'],
                'Yahoo',
                article['title'],
                article['date'],
                article['link']
            ]
            search_results_articles.loc[len(search_results_articles)] = search_data
            dates.append(search_data[3])
            days.append(convert_day(search_data[3]))
        # Dates and days information for the num_dat_row
        num_dat_row.append(dates)
        num_dat_row.append(days)
        
        # Add the num_dat_row to the data frame numbers_and_dates
        numbers_and_dates.loc[len(numbers_and_dates)] = num_dat_row


    
#print(search_results_articles)

Vessel caught misreporting catch amount 0
Vessel caught falsifying fishing logs 0
Vessel caught with incorrect catch reports 0
Vessel caught underreporting catch in North Atlantic 0
Vessel caught misreporting haddock catch 0
Vessel caught with inaccurate fish size records 0
Vessel caught underreporting catch near protected area 0
Vessel caught misreporting tuna catch quantities 0
Vessel caught with unrecorded fish species 0
Vessel caught bypassing quota system 0

In [194]:
numbers_and_dates.tail(20)
search_results_articles.tail(20)

,Query,Engine,Title,Dates,Link
269,Query Vessel caught with unrecorded fish sp...,Bing,Vessels must slow down to save whale species f...,1y,https://www.glasgowtimes.co.uk/news/national/2...
270,Query Vessel caught bypassing quota system ...,Google,Sea Shepherd Global,2 weeks ago,https://www.seashepherdglobal.org/latest-news/...
271,Query Vessel caught bypassing quota system ...,Google,UK Government seizes post-Brexit freedoms for ...,"Jul 17, 2023",https://thefishingdaily.com/latest-news/uk-gov...
272,Query Vessel caught bypassing quota system ...,Google,Fish mogul indicted on 27 criminal counts | St...,"May 9, 2016",https://www.salemnews.com/news/state_news/fish...
273,Query Vessel caught bypassing quota system ...,Google,"Grounded: Rather than test new limits, fisherm...","Jun 13, 2010",https://www.southcoasttoday.com/story/news/201...
274,Query Vessel caught bypassing quota system ...,Google,East Anglia group sets out long-term plan,"Nov 19, 2019",https://fishingnews.co.uk/news/east-anglia-gro...
275,Query Vessel caught bypassing quota system ...,Bing,Vessel Monitoring System Market,2y,https://www.alliedmarketresearch.com/vessel-mo...
276,Query Vessel caught bypassing quota system ...,Bing,Remote vessel communications system clinches AiP,2d,https://www.rivieramm.com/news-content-hub/new...
277,Query Vessel caught bypassing quota system ...,Bing,AI Targeting system trialled on NYK vessel,2y,https://www.seatrade-maritime.com/technology/a...
278,Query Vessel caught bypassing quota system ...,Bing,Offshore Vessels News,8d,https://www.oedigital.com/vessels
279,Query Vessel caught bypassing quota system ...,Bing,Bluefin tuna season to open tomorrow with 25t ...,6d,https://www.chronicle.gi/bluefin-tuna-season-t...
280,Query Vessel caught bypassing quota system ...,Bing,The Peruvian Navy tests a new illegal vessel d...,15d,https://www.zona-militar.com/en/2024/06/06/the...
281,Query Vessel caught bypassing quota system ...,Bing,Coast Guard seizes $63m worth of cocaine after...,12d,https://www.dailymail.co.uk/news/article-13510...
282,Query Vessel caught bypassing quota system ...,Bing,Circulatory system: Blood vessels,9d,https://www.dailymail.co.uk/health/article-109...
283,Query Vessel caught bypassing quota system ...,Bing,QLABPro Close Vessel Microwave Digestion Syste...,7d,https://www.news-medical.net/QLABPro-Close-Ves...
284,Query Vessel caught bypassing quota system ...,Bing,Redistributing medical resources for a bypass ...,1d,https://jnis.bmj.com/content/12/1/98
285,Query Vessel caught bypassing quota system ...,Bing,"2 dead, 3 missing after vessel catches fire in...",15d,https://www.punjabnewsexpress.com/world/news/2...
286,Query Vessel caught bypassing quota system ...,Bing,Peruvian authorities implement “laughable” fin...,23d,https://www.seafoodsource.com/news/supply-trad...
287,Query Vessel caught bypassing quota system ...,Bing,UK Navy says vessel hit by projectile in Gulf ...,12d,https://www.thehansindia.com/news/internationa...
288,Query Vessel caught bypassing quota system ...,Bing,Eleven dead and over 60 missing as migrant boa...,3d,https://ca.news.yahoo.com/eleven-dead-over-60-...

In [193]:
print(numbers_and_dates)

                                                Query  Engine  results  \
0   Query    Vessel caught misreporting catch amou...  Google       20
1   Query    Vessel caught misreporting catch amou...   Yahoo        0
2   Query    Vessel caught misreporting catch amou...    Bing       14
3   Query    Vessel caught falsifying fishing logs...  Google       20
4   Query    Vessel caught falsifying fishing logs...   Yahoo        0
5   Query    Vessel caught falsifying fishing logs...    Bing       14
6   Query    Vessel caught with incorrect catch re...  Google       20
7   Query    Vessel caught with incorrect catch re...   Yahoo        0
8   Query    Vessel caught with incorrect catch re...    Bing       12
9   Query    Vessel caught underreporting catch in...  Google       14
10  Query    Vessel caught underreporting catch in...   Yahoo        0
11  Query    Vessel caught underreporting catch in...    Bing       11
12  Query    Vessel caught misreporting haddock ca...  Google        2
13  Query    Vessel caught misreporting haddock ca...   Yahoo        0
14  Query    Vessel caught misreporting haddock ca...    Bing       14
15  Query    Vessel caught with inaccurate fish si...  Google       20
16  Query    Vessel caught with inaccurate fish si...   Yahoo        0
17  Query    Vessel caught with inaccurate fish si...    Bing       14
18  Query    Vessel caught underreporting catch ne...  Google       20
19  Query    Vessel caught underreporting catch ne...   Yahoo        0
20  Query    Vessel caught underreporting catch ne...    Bing       14
21  Query    Vessel caught misreporting tuna catch...  Google       13
22  Query    Vessel caught misreporting tuna catch...   Yahoo        0
23  Query    Vessel caught misreporting tuna catch...    Bing       14
24  Query    Vessel caught with unrecorded fish sp...  Google       20
25  Query    Vessel caught with unrecorded fish sp...   Yahoo        0
26  Query    Vessel caught with unrecorded fish sp...    Bing       14
27  Query    Vessel caught bypassing quota system
...  Google        5
28  Query    Vessel caught bypassing quota system
...   Yahoo        0
29  Query    Vessel caught bypassing quota system
...    Bing       14
30            Vessel caught misreporting catch amount   Yahoo        0
31              Vessel caught falsifying fishing logs   Yahoo        0
32         Vessel caught with incorrect catch reports   Yahoo        0
33  Vessel caught underreporting catch in North At...   Yahoo        0
34           Vessel caught misreporting haddock catch   Yahoo        0
35    Vessel caught with inaccurate fish size records   Yahoo        0
36  Vessel caught underreporting catch near protec...   Yahoo        0
37   Vessel caught misreporting tuna catch quantities   Yahoo        0
38         Vessel caught with unrecorded fish species   Yahoo        0
39               Vessel caught bypassing quota system   Yahoo        0

                                                dates  \
0   [2 weeks ago, Oct 31, 2023, 1 month ago, Jul 2...
1                                                  []
2   [13d, 12d, 12d, 3d, 13d, 12d, 8d, 8d, 13d, 12d...
3   [قبل أسبوع واحد, ٢٠‏/٠٣‏/٢٠٢٤, ٠٤‏/١٠‏/٢٠٢٣, ٢...
4                                                  []
5   [17d, 11d, 2d, 23d, 2mon, 3d, 1mon, 14d, 1mon,...
6   [3 days ago, Mar 23, 2024, Oct 9, 2023, Jan 2,...
7                                                  []
8   [2d, 2d, 12d, 3d, 5d, 8d, 3d, 12d, 12d, 12d, 1...
9   [May 24, 2023, Sep 26, 2022, Jan 19, 2016, May...
10                                                 []
11  [8h, 1mon, 3d, 12d, 9d, 8d, 22d, 15d, 3d, 12d,...
12                        [Oct 9, 2020, Sep 28, 2022]
13                                                 []
14  [1mon, 3d, 23d, 4mon, 2mon, 4y, 7mon, 15d, 14y...
15  [3 days ago, Aug 23, 2023, Nov 6, 2023, Feb 3,...
16                                                 []
17  [6y, 2y, 4d, 3d, 14d, 1y, 3y, 3d, 2y, 1mon, 4m...
18  [Mar 1, 2024, Apr 2, 2024, 1 month ago, Apr 13...
19                                                 []
20  [4d, 1mon, 19d, 15d, 1mon, 2mon, 23d, 17d, 12d...
21  [Oct 11, 2021, Jan 3, 2019, Jun 14, 2021, Feb ...
22                                                 []
23  [2mon, 1y, 6d, 4d, 6y, 3d, 2y, 3d, 2y, 2y, 7d,...
24  [1 week ago, Jul 24, 2023, Nov 6, 2023, Apr 10...
25                                                 []
26  [2y, 2y, 2y, 3d, 3d, 12d, 12d, 27d, 1mon, 15d,...
27  [2 weeks ago, Jul 17, 2023, May 9, 2016, Jun 1...
28                                                 []
29  [2y, 2d, 2y, 8d, 6d, 15d, 12d, 9d, 7d, 1d, 15d...
30                                                 []
31                                                 []
32                                                 []
33                                                 []
34                                                 []
35                                                 []
36                                                 []
37                                                 []
38                                                 []
39                                                 []

                                                 days
0   [14, 234, 30, 331, 88, 239, 282, 69, 886, 984,...
1                                                  []
2   [13, 12, 12, 3, 13, 12, 8, 8, 13, 12, 8, 12, 1...
3   [None, None, None, None, None, None, None, Non...
4                                                  []
5   [17, 11, 2, 23, None, 3, None, 14, None, 15, N...
6   [3, 90, 256, 171, 227, 241, 331, 351, 288, 288...
7                                                  []
8          [2, 2, 12, 3, 5, 8, 3, 12, 12, 12, 12, 12]
9   [394, 634, 3076, 408, 3075, 3791, 463, 2481, 1...
10                                                 []
11       [None, None, 3, 12, 9, 8, 22, 15, 3, 12, 12]
12                                        [1351, 632]
13                                                 []
14  [None, 3, 23, None, None, 120, None, 15, 420, ...
15  [3, 303, 228, 504, 984, 413, 441, 4412, 1138, ...
16                                                 []
17  [180, 60, 4, 3, 14, 30, 90, 3, 60, None, None,...
18  [112, 80, 30, 69, 3642, 598, 3417, 1032, 3951,...
19                                                 []
20  [4, None, 19, 15, None, None, 23, 17, 12, 15, ...
21  [984, 1996, 1103, 869, 4972, 2698, 1336, 4480,...
22                                                 []
23  [None, 30, 6, 4, 180, 3, 60, 3, 60, 60, 7, 6, ...
24  [7, 333, 228, 72, 380, 366, 203, 1485, 253, 10...
25                                                 []
26  [60, 60, 60, 3, 3, 12, 12, 27, None, 15, 8, 6,...
27                        [14, 340, 2965, 5122, 1676]
28                                                 []
29  [60, 2, 60, 8, 6, 15, 12, 9, 7, 1, 15, 23, 12, 3]
30                                                 []
31                                                 []
32                                                 []
33                                                 []
34                                                 []
35                                                 []
36                                                 []
37                                                 []
38                                                 []
39                                                 []

## Export the data (excel file)

In [178]:
import pandas as pd

# Example DataFrame
####### Have to have numberes_and_dates as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
numbers_and_dates.to_excel('numbers_and_dates.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx

In [180]:
import pandas as pd

######## Have to have search_results_articles as a pandas data frame
#df = pd.DataFrame(data)

# Save DataFrame to Excel
search_results_articles.to_excel('search_results_articles.xlsx', index=False)

print("DataFrame has been saved to output.xlsx")

DataFrame has been saved to output.xlsx