In [102]:
from functions import *
### Note: There is a minor error in functions.py. (about the number of article limit for Bing) I'll fix it ASAP and remove this note

### Importing queries

In [103]:
import pandas as pd

# read the excel file
excel_data = pd.read_excel('PIMS Sample Prompts.xlsx')

queries = []
for index, row in excel_data.iterrows():
    # Process each row
    queries.append(row['Prompt'])
    
queries = queries[:20]

### Compare the number of results from Google, Yahoo, Bing for the first 10 queries from the excel file

In [104]:
google_search = []
yahoo_search = []
bing_search = []

def count_result(search_results):
    count = 0
    for index, result in enumerate(search_results, start=1):
        count += 1
    return count

In [105]:
ind = 0
for query in queries:
    google_search += [scrape_google_news(query)]
    yahoo_search += [scrape_yahoo_news(query)]
    bing_search += [scrape_bing_news(query)]
    ind += 1
    print("Done the query", ind)

https://www.bing.com/news/search?q=Vessel caught misreporting catch amount
Done the query 1
https://www.bing.com/news/search?q=Vessel caught falsifying fishing logs
Done the query 2
https://www.bing.com/news/search?q=Vessel caught with incorrect catch reports
Done the query 3
https://www.bing.com/news/search?q=Vessel caught underreporting catch in North Atlantic
Done the query 4
https://www.bing.com/news/search?q=Vessel caught misreporting haddock catch
Done the query 5
https://www.bing.com/news/search?q=Vessel caught with inaccurate fish size records
Done the query 6
https://www.bing.com/news/search?q=Vessel caught underreporting catch near protected area
Done the query 7
https://www.bing.com/news/search?q=Vessel caught misreporting tuna catch quantities
Done the query 8
https://www.bing.com/news/search?q=Vessel caught with unrecorded fish species
Done the query 9
https://www.bing.com/news/search?q=Vessel caught bypassing quota system
Done the query 10
https://www.bing.com/news/search?q=Vessel caught with illegal catch documentation
Done the query 11
https://www.bing.com/news/search?q=Vessel caught underreporting catch during inspection
Done the query 12
https://www.bing.com/news/search?q=Vessel caught using banned fishing gear
Done the query 13
https://www.bing.com/news/search?q=Vessel caught with hidden compartments for fish
Done the query 14
https://www.bing.com/news/search?q=Vessel caught misreporting catch to evade taxes
Done the query 15
https://www.bing.com/news/search?q=Vessel caught underreporting salmon catch
Done the query 16
https://www.bing.com/news/search?q=Vessel caught with manipulated scales
Done the query 17
https://www.bing.com/news/search?q=Vessel caught misreporting bluefin tuna catch
Done the query 18
https://www.bing.com/news/search?q=Vessel caught exceeding catch limits
Done the query 19
https://www.bing.com/news/search?q=Vessel caught with unregistered catch
Done the query 20

In [106]:
#DataFrame for number of results from each query


google_number_of_results = []
yahoo_number_of_results = []
bing_number_of_results = []


for i in range(len(queries)):
    google_number_of_results.append(count_result(google_search[i]))
    yahoo_number_of_results.append(count_result(yahoo_search[i]))
    bing_number_of_results.append(count_result(bing_search[i]))
    
    
#print("Google found", google_number_of_results, "articles.")
#print("Yahoo found", yahoo_number_of_results, "articles.")
#print("Bing found", bing_number_of_results, "articles.")

search_stats = pd.DataFrame({'Query': queries, 'Google': google_number_of_results, 'Yahoo': yahoo_number_of_results, 'Bing': bing_number_of_results})

search_stats.head(20)

                                                Query  Google  Yahoo  Bing
0             Vessel caught misreporting catch amount       5      0     9
1               Vessel caught falsifying fishing logs       5      0    11
2          Vessel caught with incorrect catch reports       5      5    10
3   Vessel caught underreporting catch in North At...       5      0     9
4            Vessel caught misreporting haddock catch       2      0     9
5     Vessel caught with inaccurate fish size records       5      0     9
6   Vessel caught underreporting catch near protec...       5      0     9
7    Vessel caught misreporting tuna catch quantities       5      0     8
8          Vessel caught with unrecorded fish species       5      0    10
9                Vessel caught bypassing quota system       5      0     9
10     Vessel caught with illegal catch documentation       5      2    11
11  Vessel caught underreporting catch during insp...       5      1     0
12            Vessel caught using banned fishing gear       5      5    11
13    Vessel caught with hidden compartments for fish       5      3     0
14    Vessel caught misreporting catch to evade taxes       4      0    10
15          Vessel caught underreporting salmon catch       5      0    12
16              Vessel caught with manipulated scales       5      0    10
17      Vessel caught misreporting bluefin tuna catch       5      0    10
18               Vessel caught exceeding catch limits       5      5    11
19              Vessel caught with unregistered catch       5      4     7

### Since Bing shows the most articles from search, Bing is recommended if you want more results.

### With the same data, let's compare the novelty of articles

#### Computing the average days for each engine

In [107]:
# Set the date words:
from datetime import datetime

hour = ['hour', 'hours']
day = ['day', 'days']
week = ['week', 'weeks']
month = ['month', 'months']
year = ['year', 'years']
# consider 1 week = 7 days, 1 month = 30 days, 1 year = 365 days for convenience

def convert_day(text):
    # In some cases, dates are given as YYYY-MM-DD
    pattern = r'^\d{4}-\d{2}-\d{2}$'
    if re.match(pattern, text):
        date = datetime.strptime(text, "%Y-%M-%d")
        today = datetime.combine(date.today(), datetime.min.time())
        days = str(today - date).split()
        return int(days[0])
    txtlist = text.split()
    if txtlist[1] in ['hour', 'hours']:
        return 1
    if txtlist[1] in ['day', 'days']:
        return int(txtlist[0])
    if txtlist[1] in ['week', 'weeks']:
        return int(txtlist[0])*7
    if txtlist[1] in ['month', 'months']:
        return int(txtlist[0])*30
    if txtlist[1] in ['year', 'years']:
        return int(txtlist[0])*365

In [108]:
# Computing Google average
googledays = 0 
google_days_list = []

for search_result in google_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        googledays += tmp
        tmp_list.append(tmp)
    google_days_list.append(tmp_list)

google_average_days = googledays/len(google_search)

In [109]:
# Computing Yahoo average
yahoodays = 0 
yahoo_days_list = []

for search_result in yahoo_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        yahoodays += tmp
        tmp_list.append(tmp)
    yahoo_days_list.append(tmp_list)

yahoo_average_days = yahoodays/len(yahoo_search)

In [110]:
# Computing Bing average
bingdays = 0 
bing_days_list = []

for search_result in bing_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        bingdays += tmp
        tmp_list.append(tmp)
    bing_days_list.append(tmp_list)

bing_average_days = bingdays/len(bing_search)

In [113]:
#print(google_average_days, yahoo_average_days, bing_average_days)

search_stats['Google days'] = google_days_list
search_stats['Yahoo days'] = yahoo_days_list
search_stats['Bing days'] = bing_days_list

search_stats.head(20)

,Query,Google,Yahoo,Bing,Google days,Yahoo days,Bing days
0,Vessel caught misreporting catch amount,5,0,9,"[14, 28, 270, 210, 300]",[],"[10, 10, 6, 13, 10, 10, 10, 10, 10]"
1,Vessel caught falsifying fishing logs,5,0,11,"[7, 240, 60, 180, 60]",[],"[1, 166, 9, 154, 141, 163, 13, 12, 13, 152, 13]"
2,Vessel caught with incorrect catch reports,5,5,10,"[60, 240, 240, 150, 30]","[330, 330, 90, 365, 730]","[1, 1, 13, 10, 6, 13, 13, 10, 165, 10]"
3,Vessel caught underreporting catch in North At...,5,0,9,"[360, 1770, 3000, 600, 2130]",[],"[1, 146, 7, 13, 140, 141, 10, 1, 10]"
4,Vessel caught misreporting haddock catch,2,0,9,"[1320, 600]",[],"[141, 1984, 163, 154, 5, 507, 5632, 890, 527]"
5,Vessel caught with inaccurate fish size records,5,0,9,"[180, 240, 270, 210, 960]",[],"[1258, 894, 12, 1625, 1258, 169, 140, 1604, 157]"
6,Vessel caught underreporting catch near protec...,5,0,9,"[90, 60, 30, 900, 1470]",[],"[141, 168, 163, 141, 154, 10, 165, 152, 143]"
7,Vessel caught misreporting tuna catch quantities,5,0,8,"[2700, 960, 450, 1950, 840]",[],"[145, 884, 2360, 899, 142, 167, 1976, 154]"
8,Vessel caught with unrecorded fish species,5,0,10,"[6, 60, 270, 300, 180]",[],"[1258, 1262, 883, 895, 165, 10, 141, 4, 6, 11]"
9,Vessel caught bypassing quota system,5,0,9,"[14, 450, 5040, 2910, 1650]",[],"[1258, 7, 5, 166, 4, 527, 5, 141, 8]"
10,Vessel caught with illegal catch documentation,5,2,11,"[180, 180, 30, 300, 60]","[210, 365]","[6, 10, 1, 6, 9, 6, 13, 10, 3, 6, 8]"
11,Vessel caught underreporting catch during insp...,5,1,0,"[14, 510, 390, 660, 2520]",[365],[]
12,Vessel caught using banned fishing gear,5,5,11,"[180, 90, 240, 150, 360]","[365, 365, 28, 365, 365]","[12, 147, 166, 141, 163, 154, 10, 149, 152, 16..."
13,Vessel caught with hidden compartments for fish,5,3,0,"[150, 30, 180, 300, 90]","[365, 90, 270]",[]
14,Vessel caught misreporting catch to evade taxes,4,0,10,"[210, 330, 870, 2520]",[],"[1617, 1601, 166, 4530, 158, 512, 513, 147, 14..."
15,Vessel caught underreporting salmon catch,5,0,12,"[360, 3000, 1650, 1710, 2040]",[],"[167, 1607, 525, 873, 873, 141, 1618, 154, 890..."
16,Vessel caught with manipulated scales,5,0,10,"[840, 1860, 4440, 1860, 450]",[],"[141, 166, 10, 11, 13, 10, 6, 11, 6, 6]"
17,Vessel caught misreporting bluefin tuna catch,5,0,10,"[1110, 270, 960, 3780, 450]",[],"[4, 139, 5, 4, 12, 167, 6, 140, 13, 148]"
18,Vessel caught exceeding catch limits,5,5,11,"[90, 90, 30, 7, 60]","[365, 365, 60, 730, 365]","[7, 10, 3, 13, 10, 10, 10, 6, 10, 10, 10]"
19,Vessel caught with unregistered catch,5,4,7,"[28, 300, 90, 1110, 120]","[1, 21, 730, 240]","[10, 13, 10, 10, 11, 10, 10]"

In [112]:
### Novelty can be two things:
### 1. Newest
### 2. How new one article is compared to another